{% extends 'base.html.twig' %}
{% block main %}
    {% block customstylesheets %}
        {{ parent() }}

        {% if app.user %}
            <link rel="stylesheet" href="{{ asset('assets/css/likes.css') }}"
        {% endif %}
    {% endblock %}

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">

            <h1 class="jumbotron-heading">Category - {{ subcategories.currentCategoryName|raw }}</h1>
            <div class="btn-group">
                <div class="dropdown ml-2">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Subcategories
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul class="mr-5">
{#                            we add raw filter so html would be rendered from php#}
                            <li><a href="{{path('video_list',{'categoryName':subcategories.mainParentName|lower|slugify,'id':subcategories.mainParentId})}}">{{  subcategories.mainParentName |raw  }}</a></li>
                            {{ subcategories.categoryList|raw }}
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
        {#video list#}
        {{ include('front/helper/_videos.html.twig', { 'videos' : videos }) }}
        </div>
    </div>
        {#    pagination render view    #}
    {{ knp_pagination_render(videos) }}
</main>

{% endblock %}
{% block customjavascripts %}
{{parent()}}
{% endblock %}

